@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap");
.header {
  position: absolute;
  top: 37px;
  right: 55px;
  bottom: 186px;
  left: 55px;
  max-width: 1810px;
  height: 47px;
  margin: 0 auto;
  background: rgba(205, 214, 219, 0.3);
}
.header__content {
  font-family: Roboto;
  display: flex;
  justify-content: space-between;
  max-width: 1810px;
  height: 47px;
}
.header__content div {
  display: flex;
  align-items: center;
}
.header__content a {
  color: #272D4E;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}
.header__content a :hover {
  color: #7854F7;
}
.header__content a img:hover {
  transform: scale(1.1);
}
.header__content a img {
  transition: all 0.2s linear;
  margin-right: 144px;
}
.header__content button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 120px;
  height: 47px;
  border-radius: 5px;
  background: #7854F7;
  border: none;
  margin-right: 30px;
  margin-left: 38px;
  transition: 0.3s;
  cursor: pointer;
}
.header__content button :hover {
  background: #7d61ab;
}
.header__content label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__content label input {
  border-radius: 3px;
  border: 1px solid #cbc6c6;
  width: 120px;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.header__content .burger {
  display: none;
}
.header__content .burger-menu nav {
  display: none;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100vw;
  height: 100vh;
}
.header__content .burger-menu.active nav {
  display: flex;
  z-index: 5;
  position: fixed;
}
.header__content .burger-lines {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  z-index: 6;
  right: 50px;
  top: 50px;
}
.header__content .burger-line {
  width: 30px;
  height: 3px;
  background: #7854F7;
}
.header__nav {
  gap: 38px;
  display: flex;
  align-items: center;
}
.header__navv {
  display: flex;
  align-items: center;
}
.header__navv a {
  width: 50px;
}

@media screen and (max-width: 1371px) {
  .header__content a {
    font-size: 14px;
  }
  .header__content a img {
    margin-right: 80px;
  }
  .header__content button {
    font-size: 14px;
    margin-right: 25px;
    margin-left: 20px;
    width: 100px;
    height: 40px;
  }
  .header__content label input {
    font-size: 14px;
  }
  .header__nav {
    gap: 20px;
  }
}
@media screen and (max-width: 1088px) {
  .header__nav, .header__navv {
    display: none;
  }
  .burger {
    display: block;
  }
}
body {
  margin: auto;
  background: rgb(228, 75, 75);
  max-width: 1920px;
}/*# sourceMappingURL=index.css.map */