@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap");
.header {
  position: absolute;
  top: 37px;
  right: 55px;
  bottom: 186px;
  left: 55px;
  max-width: 1810px;
  height: 47px;
  margin: 0 auto;
  z-index: 5;
}
.header__content {
  font-family: Roboto;
  display: flex;
  justify-content: space-between;
  max-width: 1810px;
  height: 47px;
}
.header__content div {
  display: flex;
  align-items: center;
}
.header__content a {
  color: #272D4E;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}
.header__content a:hover {
  color: #9327ff;
}
.header__content a img:hover {
  transform: scale(1.1);
}
.header__content a img {
  transition: all 0.2s linear;
  margin-right: 144px;
  cursor: pointer;
}
.header__content button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 120px;
  height: 47px;
  border-radius: 5px;
  background: #7854F7;
  border: none;
  margin-right: 30px;
  margin-left: 38px;
  transition: 0.3s;
  cursor: pointer;
}
.header__content button:hover {
  background: #7d61ab;
}
.header__content label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__content label input {
  border-radius: 3px;
  border: 1px solid #cbc6c6;
  width: 120px;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.header__content .burger {
  display: none;
}
.header__content .burger-menu nav {
  display: none;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100vw;
  height: 100vh;
}
.header__content .burger-menu.active nav {
  display: flex;
  z-index: 5;
  position: fixed;
}
.header__content .burger-lines {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  z-index: 6;
  right: 5px;
  top: 11px;
}
.header__content .burger-line {
  width: 30px;
  height: 3px;
  background: #7854F7;
}
.header__nav {
  gap: 38px;
  display: flex;
  align-items: center;
}
.header__navv {
  display: flex;
  align-items: center;
}
.header__navv a {
  width: 50px;
}

@media screen and (max-width: 1371px) {
  .header__content a {
    font-size: 14px;
  }
  .header__content a img {
    margin-right: 80px;
  }
  .header__content button {
    font-size: 14px;
    margin-right: 25px;
    margin-left: 20px;
    width: 100px;
    height: 40px;
  }
  .header__content label input {
    font-size: 14px;
  }
  .header__nav {
    gap: 20px;
  }
}
@media screen and (max-width: 1088px) {
  .header__nav, .header__navv {
    display: none;
  }
  .header .burger {
    display: block;
  }
}
.hero {
  background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
  position: relative;
  z-index: 1;
}
.hero img {
  max-width: 50%;
  position: absolute;
  right: 0;
  top: 15%;
  cursor: pointer;
  z-index: -1;
  opacity: 0.3;
}
.hero svg {
  max-width: 50%;
  position: absolute;
  right: 0%;
  top: -10%;
  z-index: -1;
}
.hero__content {
  padding: 212px 45px 255px 220px;
  max-width: 818px;
  margin: 0;
}
.hero__content div {
  display: flex;
  gap: 12px;
  align-items: center;
}
.hero__content h1 {
  color: #272D4E;
  font-size: 75px;
  font-weight: 600;
  font-family: Poppins;
  margin: 0;
  line-height: 95px;
}
.hero__content p {
  color: #94A2B3;
  font-size: 18px;
  font-weight: 700;
  font-family: Roboto;
  max-width: 716px;
  margin-top: 29px;
  margin-bottom: 31px;
  line-height: 25px;
}
.hero__content button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  font-family: Roboto;
  border-radius: 60px;
  background: #7854F7;
  width: 267px;
  height: 72px;
  border: 1px;
  transition: 0.3s;
  cursor: pointer;
}
.hero__content button:hover {
  color: #7854F7;
  background: #fff;
  border: 1px solid #7854F7;
}
.hero__content a {
  color: #299EF3;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.hero__content a:hover {
  color: #9327ff;
}

@media screen and (max-width: 1146px) {
  .hero__content {
    padding: 212px 45px 255px 180px;
  }
}
@media screen and (max-width: 1088px) {
  .hero__content h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 975px) {
  .hero__content {
    padding: 212px 45px 255px 100px;
  }
}
@media screen and (max-width: 641px) {
  .hero__content {
    padding: 212px 45px 255px 100px;
  }
  .hero__content h1 {
    font-size: 45px;
    line-height: 70px;
  }
  .hero__content button {
    width: 250px;
    height: 67px;
    font-size: 15px;
  }
}
@media screen and (max-width: 408px) {
  .hero__content {
    padding: 212px 45px 255px 50px;
  }
  .hero__content p,
  .hero__content a {
    font-size: 15px;
  }
  .hero__content h1 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media screen and (max-width: 371px) {
  .hero__content button {
    font-size: 12px;
    border-radius: 40px;
  }
}
.features__content .title h2 {
  color: #272D4E;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  font-family: Poppins;
  text-align: center;
  margin: 0 auto;
  max-width: 457px;
}
.features__content .items {
  display: flex;
  margin-top: 56px;
  justify-content: center;
}
.features__content .fir-item {
  max-width: 536px;
  max-height: 518px;
}
.features__content .fir-item h2 {
  color: #272D4E;
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  font-family: Poppins;
  margin: 0 auto;
}
.features__content .fir-item p {
  color: #94A2B3;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: Roboto;
  margin: 0 auto;
}
.features__content .fir-item a {
  color: #299EF3;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: Roboto;
}
.features__content .fir-item a:hover {
  color: #9327ff;
}
.features__content .fir-item img:hover {
  transform: scale(1.1);
}
.features__content .fir-item img {
  transition: all 0.2s linear;
  cursor: pointer;
  max-width: 100%;
}
.features__content .sec-item {
  max-width: 431px;
  max-height: 561px;
  margin-right: 70px;
  margin-left: 67px;
}
.features__content .sec-item h2 {
  color: #272D4E;
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  font-family: Poppins;
  margin: 0 auto;
}
.features__content .sec-item p {
  color: #94A2B3;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: Roboto;
  margin: 0 auto;
}
.features__content .sec-item a {
  color: #299EF3;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: Roboto;
}
.features__content .sec-item a:hover {
  color: #9327ff;
}
.features__content .sec-item img:hover {
  transform: scale(1.1);
}
.features__content .sec-item img {
  transition: all 0.2s linear;
  cursor: pointer;
  max-width: 100%;
}
.features__content .thr-item {
  max-width: 495px;
  max-height: 650px;
}
.features__content .thr-item h2 {
  color: #272D4E;
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  font-family: Poppins;
  margin: 0 auto;
}
.features__content .thr-item p {
  color: #94A2B3;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: Roboto;
  margin: 0 auto;
}
.features__content .thr-item a {
  color: #299EF3;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: Roboto;
}
.features__content .thr-item a:hover {
  color: #9327ff;
}
.features__content .thr-item img:hover {
  transform: scale(1.1);
}
.features__content .thr-item img {
  transition: all 0.2s linear;
  cursor: pointer;
  max-width: 100%;
}

@media screen and (max-width: 962px) {
  .features__content .title h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .features__content .items h2 {
    font-size: 28px;
    line-height: 50px;
  }
  .features__content .items p, .features__content .items a {
    font-size: 15px;
    line-height: 23px;
  }
}
@media screen and (max-width: 719px) {
  .features__content .title h2 {
    font-size: 34px;
    line-height: 34px;
  }
  .features__content .items {
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .features__content .items h2 {
    font-size: 24px;
    line-height: 35px;
  }
  .features__content .items .fir-item {
    margin-left: 20px;
  }
}
.info {
  position: relative;
}
.info img {
  position: absolute;
  max-width: 100%;
}
.info img + img {
  top: 0;
  right: 0;
  position: absolute;
  max-width: 100%;
}
.info__content {
  position: absolute;
  z-index: 2;
}
.info__content .img {
  position: absolute;
}
.info__content .devolop h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  font-family: Poppins;
  max-width: 435px;
  margin: 0 auto;
}
.info__content .devolop p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 20px;
  max-width: 480px;
}
.info__content .devolop button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
  border-radius: 60px;
  background: #70C217;
  width: 256px;
  height: 64px;
  border: none;
}
.info__content .global h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  font-family: Poppins;
  max-width: 506px;
}
.info__content .global p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 20px;
  max-width: 480px;
}
.info__content .global button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
  border-radius: 60px;
  background: #70C217;
  width: 256px;
  height: 64px;
  border: none;
}

body {
  margin: 0 auto;
  background: rgb(255, 255, 255);
  max-width: 1920px;
}/*# sourceMappingURL=index.css.map */