@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap");
.header {
  position: absolute;
  top: 37px;
  right: 55px;
  bottom: 186px;
  left: 55px;
  max-width: 1810px;
  height: 47px;
  margin: 0 auto;
  z-index: 5;
}
.header__content {
  font-family: Roboto;
  display: flex;
  justify-content: space-between;
  max-width: 1810px;
  height: 47px;
}
.header__content div {
  display: flex;
  align-items: center;
  gap: 144px;
}
.header__content a {
  color: #272D4E;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}
.header__content a:hover {
  color: #9327ff;
}
.header__content a img:hover {
  transform: scale(1.1);
}
.header__content a img {
  transition: all 0.2s linear;
  cursor: pointer;
}
.header__content button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 120px;
  height: 47px;
  margin-right: 30px;
  margin-left: 38px;
  border-radius: 5px;
  background: #7854F7;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.header__content button:hover {
  background: #fff;
  color: #7854F7;
  border: 1px solid #7854F7;
}
.header label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header label input {
  border-radius: 3px;
  border: 1px solid #cbc6c6;
  width: 120px;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.header .burger {
  display: none;
}
.header .burger-menu nav {
  display: none;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100vw;
  height: 100vh;
}
.header .burger-menu.active nav {
  display: flex;
  z-index: 5;
  position: fixed;
}
.header .burger-lines {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  z-index: 6;
  right: 5px;
  top: 11px;
}
.header .burger-line {
  width: 30px;
  height: 3px;
  background: #7854F7;
}
.header__nav {
  gap: 38px;
  display: flex;
  align-items: center;
}
.header__navv {
  display: flex;
  align-items: center;
}
.header__navv a {
  width: 50px;
}

@media screen and (max-width: 1371px) {
  .header__content div {
    gap: 80px;
  }
  .header__content a {
    font-size: 14px;
  }
  .header__content button {
    font-size: 14px;
    margin-right: 25px;
    margin-left: 20px;
    width: 100px;
    height: 40px;
  }
  .header__content label input {
    font-size: 14px;
  }
  .header__nav {
    gap: 20px;
  }
}
@media screen and (max-width: 1088px) {
  .header__nav, .header__navv {
    display: none;
  }
  .header .burger {
    display: block;
  }
}
.hero {
  background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
  position: relative;
  z-index: 1;
}
.hero img {
  max-width: 50%;
  position: absolute;
  right: 0;
  top: 15%;
  cursor: pointer;
  z-index: -1;
  opacity: 0.3;
}
.hero svg {
  max-width: 50%;
  position: absolute;
  right: 0%;
  top: -10%;
  z-index: -1;
}
.hero__content {
  padding: 212px 45px 255px;
  max-width: 818px;
  margin: 0;
}
.hero__content div {
  display: flex;
  gap: 12px;
  align-items: center;
}
.hero__content h1 {
  color: #272D4E;
  font-size: 75px;
  font-weight: 600;
  font-family: Poppins;
  margin: 0;
  line-height: 95px;
}
.hero__content p {
  color: #94A2B3;
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  max-width: 716px;
  margin-top: 29px;
  margin-bottom: 31px;
  line-height: 25px;
}
.hero__content button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 267px;
  height: 72px;
  border-radius: 60px;
  background: #7854F7;
  border: 1px;
  transition: 0.3s;
  cursor: pointer;
}
.hero__content button:hover {
  background: #fff;
  color: #7854f7;
  border: 1px solid #7854F7;
}
.hero__content a {
  color: #299EF3;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.hero__content a:hover {
  color: #9327ff;
}

@media screen and (max-width: 1146px) {
  .hero__content {
    padding: 212px 45px 255px;
  }
}
@media screen and (max-width: 1088px) {
  .hero__content h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 975px) {
  .hero__content {
    padding: 212px 45px 255px;
  }
}
@media screen and (max-width: 641px) {
  .hero__content {
    padding: 212px 45px 255px;
  }
  .hero__content h1 {
    font-size: 45px;
    line-height: 70px;
  }
  .hero__content button {
    width: 250px;
    height: 67px;
    font-size: 15px;
  }
}
@media screen and (max-width: 408px) {
  .hero__content {
    padding: 212px 45px 255px;
  }
  .hero__content p,
  .hero__content a {
    font-size: 15px;
  }
  .hero__content h1 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media screen and (max-width: 371px) {
  .hero__content {
    padding: 212px 45px 255px;
  }
  .hero__content button {
    font-size: 12px;
    border-radius: 40px;
  }
}
.features__content {
  padding: 0 20px;
}
.features__content .title h2 {
  color: #272D4E;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  font-family: Poppins;
  text-align: center;
  margin: 0 auto;
  max-width: 457px;
}
.features__content .items {
  display: flex;
  margin-top: 56px;
  justify-content: center;
  padding: 0 20px;
  gap: 70px;
}
.features__content .fir-item {
  max-width: 536px;
  max-height: 518px;
  margin-left: 10px;
}
.features__content .fir-item h2 {
  color: #272D4E;
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  font-family: Poppins;
  margin: 0 auto;
  padding-top: 20px;
}
.features__content .fir-item p {
  color: #94A2B3;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: Roboto;
  margin: 0 auto;
}
.features__content .fir-item a {
  color: #299EF3;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: Roboto;
}
.features__content .fir-item a:hover {
  color: #9327ff;
}
.features__content .fir-item img:hover {
  transform: scale(1.1);
}
.features__content .fir-item img {
  transition: all 0.2s linear;
  cursor: pointer;
  max-width: 100%;
  box-shadow: -1px 5px 15px -5px #3f3647;
  border-radius: 10px;
}
.features__content .sec-item {
  max-width: 431px;
  max-height: 561px;
}
.features__content .sec-item h2 {
  color: #272D4E;
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  font-family: Poppins;
  margin: 0 auto;
  padding-top: 20px;
}
.features__content .sec-item p {
  color: #94A2B3;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: Roboto;
  margin: 0 auto;
}
.features__content .sec-item a {
  color: #299EF3;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: Roboto;
}
.features__content .sec-item a:hover {
  color: #9327ff;
}
.features__content .sec-item img:hover {
  transform: scale(1.1);
}
.features__content .sec-item img {
  transition: all 0.2s linear;
  cursor: pointer;
  max-width: 100%;
  box-shadow: -1px 5px 15px -5px #3f3647;
  border-radius: 10px;
}
.features__content .thr-item {
  max-width: 495px;
  max-height: 650px;
}
.features__content .thr-item h2 {
  color: #272D4E;
  font-size: 36px;
  font-weight: 700;
  line-height: 70px;
  font-family: Poppins;
  margin: 0 auto;
  padding-top: 20px;
}
.features__content .thr-item p {
  color: #94A2B3;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: Roboto;
  margin: 0 auto;
}
.features__content .thr-item a {
  color: #299EF3;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: Roboto;
}
.features__content .thr-item a:hover {
  color: #9327ff;
}
.features__content .thr-item img:hover {
  transform: scale(1.1);
}
.features__content .thr-item img {
  transition: all 0.2s linear;
  cursor: pointer;
  max-width: 100%;
  box-shadow: -1px 5px 15px -5px #3f3647;
  border-radius: 10px;
}

@media screen and (max-width: 962px) {
  .features__content .title h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .features__content .items h2 {
    font-size: 28px;
    line-height: 50px;
  }
  .features__content .items p, .features__content .items a {
    font-size: 15px;
    line-height: 23px;
  }
}
@media screen and (max-width: 719px) {
  .features__content .title h2 {
    font-size: 34px;
    line-height: 34px;
  }
  .features__content .items {
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .features__content .items h2 {
    font-size: 24px;
    line-height: 35px;
  }
  .features__content .items .fir-item {
    margin-left: 20px;
  }
}
.info {
  background: url(/img/info/Group\ 25.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 124px;
}
.info__content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
}
.info__content p {
  margin: 0;
  padding: 13px 0 39px 0;
}
.info__content h2 {
  margin: 0;
}
.info__content img:hover {
  transform: scale(0.9);
}
.info__content img {
  transition: all 0.2s linear;
  cursor: pointer;
  max-width: 430px;
}
.info__content .develop {
  display: flex;
  align-items: center;
  gap: 70px;
}
.info__content .develop div {
  padding-top: 100px;
}
.info__content .develop h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  font-family: Poppins;
  max-width: 435px;
}
.info__content .develop p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 30px;
  max-width: 480px;
}
.info__content .develop button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
  width: 256px;
  height: 64px;
  border-radius: 60px;
  background: #70C217;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.info__content .develop button:hover {
  background: #fff;
  color: #70C217;
}
.info__content .global {
  display: flex;
  padding-left: 350px;
}
.info__content .global h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  font-family: Poppins;
  max-width: 506px;
}
.info__content .global p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 30px;
  max-width: 480px;
}
.info__content .global button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
  width: 256px;
  height: 64px;
  border-radius: 60px;
  background: #70C217;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.info__content .global button:hover {
  background: #fff;
  color: #70C217;
}

@media screen and (max-width: 1494px) {
  .info__content {
    padding: 50px 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .info__content img {
    display: none;
  }
  .info .global,
  .info .develop {
    padding-left: 0;
  }
  .info .global div,
  .info .develop div {
    padding-top: 0;
  }
  .info .global h2,
  .info .develop h2 {
    font-size: 22px;
  }
  .info .global p,
  .info .develop p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
  }
  .info .global button,
  .info .develop button {
    width: 220px;
    height: 55px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1292px) {
  .info__content .global h2,
  .info__content .develop h2 {
    font-size: 18px;
  }
  .info__content .global p,
  .info__content .develop p {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 18px;
  }
  .info__content .global button,
  .info__content .develop button {
    width: 200px;
    height: 45px;
    font-size: 12px;
  }
}
.trust {
  margin-top: 50px;
  background: url(/img/trust/Group\ 25.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.trust__content {
  padding: 138px;
}
.trust__content h2 {
  color: #272D4E;
  font-size: 50px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 70px;
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 103px;
}
.trust__content .box {
  border-radius: 20px;
  background: #fff;
  padding: 106px 81px 87px 82px;
  z-index: -2;
  max-width: 730px;
  box-sizing: border-box;
}
.trust__content .box p {
  color: #94a2b3;
  font-size: 26px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 39px;
  position: relative;
  z-index: 1;
}
.trust__content .box img {
  position: absolute;
  z-index: -1;
  top: -70px;
  right: 30%;
  max-width: 100%;
}
.trust__content .swiper {
  width: 72%;
}

@media screen and (max-width: 1027px) {
  .trust__content h2 {
    font-size: 40px;
  }
  .trust__content .box {
    padding: 80px 81px 75px 70px;
  }
  .trust__content .box p {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (max-width: 945px) {
  .trust__content {
    padding: 80px;
  }
  .trust__content .box {
    padding: 50px 50px;
  }
  .trust__content .box img {
    top: -50px;
  }
}
@media screen and (max-width: 614px) {
  .trust__content .box {
    padding: 40px;
  }
  .trust__content .box p {
    font-size: 16px;
  }
}
@media screen and (max-width: 395px) {
  .trust__content {
    padding: 30px;
  }
  .trust__content .box {
    padding-left: 45px;
  }
}
.support {
  margin-top: 100px;
}
.support__content .support__title {
  text-align: center;
}
.support__content .support__title h2 {
  color: #272d4e;
  font-size: 55px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  font-family: Poppins;
  margin: 0 auto;
}
.support__content .support__title p {
  color: #94a2b3;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-family: roboto;
  line-height: 25px;
  max-width: 660px;
  padding: 31px 0 16px 0;
  margin: 0 auto;
}
.support__content .supported {
  background-image: url(/img/support/Group\ 30.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 400px 50px 80px 50px;
}
.support__content .supported .support__part {
  display: flex;
  justify-content: center;
  gap: 67px;
  align-items: center;
}
.support__content .supported .support__part h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  font-family: roboto;
  line-height: 52px;
  max-width: 855px;
  margin: 0;
}
.support__content .supported .support__part span {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  font-family: roboto;
  line-height: 52px;
  max-width: 855px;
}
.support__content .supported .support__part button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  font-family: roboto;
  border-radius: 60px;
  background: #5F37EF;
  border: 2px solid #fff;
  transition: 0.3s;
  cursor: pointer;
  padding: 26px 46px;
}
.support__content .supported .support__part button:hover {
  background: #fff;
  color: #5f31ef;
}

.footer {
  background: #7854f7;
}
.footer__content .top {
  padding-top: 51px;
  font-family: roboto;
  display: flex;
  justify-content: center;
  gap: 118px;
  flex-wrap: wrap;
  padding-bottom: 56px;
}
.footer__content .top div {
  display: flex;
  gap: 15px;
  align-items: center;
  max-width: 345px;
  height: 53px;
}
.footer__content .top p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 52px;
}
.footer__content .top p span {
  font-weight: 700;
}
.footer__content .top a img:hover {
  transform: scale(1.1);
}
.footer__content .top a img {
  transition: all 0.2s linear;
  cursor: pointer;
}
.footer__content .center {
  border-top: 1px solid #9A7DFF;
  font-family: roboto;
  display: flex;
  justify-content: center;
  gap: 138px;
  flex-wrap: wrap;
  padding-bottom: 64px;
}
.footer__content .center__item {
  padding-top: 34px;
  flex-direction: column;
  display: flex;
}
.footer__content .center__item h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 52px;
  margin: 0;
}
.footer__content .center__item a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  transition: 0.3s;
}
.footer__content .center__item a:hover {
  color: #272d4e;
}
.footer .bottom {
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 22px 22px;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 100px;
}
.footer .bottom a img:hover {
  transform: scale(1.1);
}
.footer .bottom a img {
  transition: all 0.2s linear;
  cursor: pointer;
}
.footer .bottom .soc-media {
  display: flex;
  gap: 54px;
  align-items: center;
}
.footer .bottom .soc-media a {
  text-decoration: none;
}
.footer .bottom .soc-media a img:hover {
  transform: scale(1.1);
}
.footer .bottom .soc-media a img {
  transition: all 0.2s linear;
  cursor: pointer;
}
.footer .bottom .link {
  margin-right: 40px;
  margin-left: 40px;
}
.footer .bottom .link p {
  color: #272d4e;
  font-size: 12px;
  font-weight: 400;
  font-family: roboto;
  text-align: center;
  line-height: 20px;
}
.footer .bottom .link p a {
  text-decoration: underline;
  color: #272d4e;
  font-size: 12px;
  font-weight: 400;
  transition: 0.3s;
}
.footer .bottom .link p a:hover {
  color: #7854f7;
}

body {
  margin: 0 auto;
  background: rgb(255, 255, 255);
  max-width: 1920px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */